extensions/src/main/resources/schema/user2workspace.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.roqu.io/worskpaces/schemas/workspace/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="id" type="xs:string"/>
    <xs:element name="username" type="xs:string" />
    <xs:element name="workspaceId" type="xs:string" />
    <xs:element name="joinedDate" type="xs:date" />

</xs:schema>
